<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Columbia Cloud GYM login</title>
  
  
      <link rel="stylesheet" href="style.css">

  
</head>

<body>
<h1>Columbia Cloud GYM</h1>
  <div class="login-page">
  <div class="form">
    <form class="login-form" method="POST" action="/login">
      <input type="text" placeholder="UserID" name="UserID"/>
      <input type="password" placeholder="password" name="PSW"/>
      <button type= "submit">login</button>
    </form>
  </div>
</div>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

</body>
</html>
