<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Columbia Cloud GYM login</title>
  
  
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">  
</head>

<body>
<h1>Columbia Cloud GYM</h1>
  <div class="login-page">
  <div class="form">
    <form class="login-form" method="POST" action="/login">
      <input type="text" placeholder="UserID" name="UserID"/>
      <input type="password" placeholder="password" name="PSW"/>
      <button type= "submit">login</button>
    </form>
  </div>
</div>
 
</body>
</html>
