<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Columbia Cloud GYM</h1>
  <div>{{data}}</div>

  <div>
    {% for n in data %}
    <div>Name: {{n}}</div>
    {% endfor %}
  </div>

<p><a href="/another">Go to the other page</a></p>

<form method="POST" action="/add">
<p>Name of new computer scientist: <input type="text" name="name"> <input type="submit" value="Add"></p>
</form>

<form method="POST" action="/login">
<p>User ID:<input type="text" name="person_id" placeholder="userid"></p>
<p>Password:<input type="text" name="password" placeholder="userpassword"></p>
<button type="submit">Login</button>
</form>

</body>


</html>
