<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='images/fav-icon.png') }}" />
		<link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel='stylesheet' type='text/css' />
		<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel='stylesheet' type='text/css' />
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
		 <!-- Custom Theme files -->
		<link href="{{ url_for('static', filename='css/main_screen.css') }}" rel='stylesheet' type='text/css' />
        <link href="{{ url_for('static', filename='css/table.css') }}" rel='stylesheet' type='text/css'/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<!----webfonts---->
		<link href='http://fonts.googleapis.com/css?family=Raleway:400,100,300,500,700,800,900,600,200' rel='stylesheet' type='text/css'>
	    <!--<style> div{float:left} </style>-->
</head>
<body onload = "securitycheck()">
	<div class = "my_body">
		<div class="header-note"><h1 id="Success"></h1></div>
        <input type="text" id= "keyword" placeholder="User ID" />
        <input type="button" value="Search"  onclick="search()"/>
		<input type="button" value="Delete"  onclick="deleteX()"/>
		<div>
        <button onclick ="get_equipment()">Get all equipment</button>

		<!--<div><h1 id="Success3"></h1></div>-->
        <button onclick ="get_course()">Get all course</button>
		<!--<div><h1 id="Success4"></h1></div>-->
        <button onclick ="get_member()">Get all member</button>
		<!--<div><h1 id="Success5"></h1></div>-->
        <button onclick ="get_coach()">Get all coach</button>
		<button onclick="add_instruction1()">Add coach</button>
		<button onclick="add_instruction3()">Add equipment</button>
		<button onclick="add_instruction2()">Add member</button>
		<button onclick="add_instruction4()">Add course</button>
			</div>
		<div id = "selection"></div>
		<div id ="table"></div>

 	</div>
<script src="{{ url_for('static', filename='js/manager.js') }}"></script>
</body>
</html>
