<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='images/fav-icon.png') }}" />
		<link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel='stylesheet' type='text/css' />
		<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel='stylesheet' type='text/css' />
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
		 <!-- Custom Theme files -->
		<link href="{{ url_for('static', filename='css/main_screen.css') }}" rel='stylesheet' type='text/css' />
        <link href="{{ url_for('static', filename='css/table.css') }}" rel='stylesheet' type='text/css'/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<!----webfonts---->
		<link href='http://fonts.googleapis.com/css?family=Raleway:400,100,300,500,700,800,900,600,200' rel='stylesheet' type='text/css'>
    <link href="{{ url_for('static', filename='css/easydropdown.css') }}" rel='stylesheet' type='text/css'/>
    <script src="{{ url_for('static', filename='js/jquery.easydropdown.js')}}" ></script>
</head>
<body onload = "securitycheck()">
	<div class = "my_body">
 		<div class=header-note><h1 id="Success"></h1></div>
   <ul class="nav navbar-custom navbar-nav">
                      <li>
                          <a class="subNavBtn" onclick="explore()">Expore Openning courses</a>
                      </li>
                      <li>
                          <a class="subNavBtn" onclick="my_courses()">My courses</a>
                      </li>
                      <li>
                          <a class="subNavBtn" onclick="add_private_train()">My Private Trainning</a>
                      </li>
                      <li>
                          <a class="subNavBtn" onclick="my_equipment()">My equipment</a>
                      </li>
    </ul>
  <div class="nav"></div>
  <div id = "selection"></div>
  <p></p>
  <div id = "selection2"></div>
  <p></p>
  <div id ="table"></div>
  <p></p>
  <p class="contact-head" id="Message"></p>
  </div>
<script src="{{ url_for('static', filename='js/member.js') }}"></script>
</body>
</html>