@import url(http://fonts.googleapis.com/css?family=Raleway:400,100,300,500,700,800,900,600,200);
html,body{
    font-family: 'Raleway', sans-serif;
    font-size: 100%;
    background-color: #FFE;
    height = 100vh;
}
.my_body{
    background: url(../images/login.jpg) no-repeat; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100vh;
}
.header-note{
	text-align:center;
}
.header-note{
	color:#FFF;
	font-weight:100;
	padding-top: 13em;
}
.header-note h1{
	font-weight: 800;
	font-size: 2.8em;
	margin: 1em;
}
.contact{
	padding:1em 0 3em;
}
.contact-form{
	margin-top: 2em;
}
.text-box input[type="text"],.textarea textarea{
	border: 2px solid #E5E5E5;
	width: 100%;
	padding: 0.85em;
    margin: auto;
	border-radius: 0.3em;
	margin-bottom: 1.5em;
	color:#858585;
	transition: border-color 0.3s;
	-o-transition: border-color 0.3s;
	-ms-transition: border-color 0.3s;
	-moz-transition: border-color 0.3s;
	-webkit-transition: border-color 0.3s;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	outline:none;
}
.text-box input[type="text"]:hover,.textarea textarea:hover,.text-box input[type="text"]:focus,.textarea textarea:focus{
	border-color: rgba(231, 76, 60, 0.55);
}
.contact h4{
	color: #666;
	font-size: 2.5em;
	font-weight: 300;
	text-align:center;
}
.contact-head{
	color: #FFF;
	font-size: 2em;
	line-height: 1.5em;
	text-align: center;
	width: 60%;
	margin: 0 auto;
	padding: 0.8em 0 1em;
}
.btn-red-lg{
	background: url(../images/racket-icon.png) no-repeat #E74C3C 17px 21px;
	border: 1px solid #E74C3C;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	font-size: 1.2em;
	padding: 1em 2em 1em 3.2em;
	margin: 0 auto;
	display: inherit;
}
.btn-red-lg:hover,.btn-red-lg:focus{
	background:url(../images/racket-icon.png) no-repeat #D34738 17px 21px;
	border:1px solid #D34738;
}
